@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

#navbar {
  color: white;
}

#navbar .nav-item :hover {
  border-bottom: 3px solid white;
}

#barang .card {
  width: 250px;
}

#barang .row a {
  text-decoration: none;
}
.container_card {
  display: flex;
  justify-content: space-evenly;
}
.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.barang-thumbnail .barang-nama {
  color: #055160;
  font-weight: 700;
  font-size: 18px;
}

.barang-thumbnail .merek-nama {
  color: #0aa2c0;
  font-size: 14px;
}

.barang-thumbnail .kategori-nama {
  color: #efbc6b;
  font-weight: 700;
  font-size: 18px;
}

#footer a {
  text-decoration: none;
  color: white;
}
